
<footer class="site-footer">

	<div class="wrapper" style="width:200px; text-align:center;">

		<h4>Follow Us</h4>
		<ul class="contact-list">
			<li><a href="https://www.facebook.com/cumulus.cde/?ref=aymt_homepage_panel">
				Facebook
			</a></li>
			<li><a href="https://www.youtube.com/channel/UC2sFV2b9TES3Dbo250oDXpg">
				Youtube
			</a></li>
			<li><a href="/feed.xml">via RSS</a></li>
			<li><a href="/newsletter.html">Current Newsletter</a></li>
		</ul>

	</div> <!-- wrapper -->

 </footer>
